@model ShoppingCartViewModel


@{
    var pageName = "Shopping Cart";
    ViewData["Title"] = pageName;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <title>HTML-to-PDF Example</title>
   
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <style>
        input[type="number"] {
            width: 70px;
        }
    </style>
</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header" dir="rtl">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <nav class="header__menu">


                        <ul>
                            <li class="active"><a href="@Url.Action("index", "Home")">עמוד ראשי</a></li>
                            <li class="active"><a href="@Url.Action("About", "Home")">עריכה</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")">צור קשר</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")"> </a></li>

                        </ul>

                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","ShoppingCart")">
                                    <i class="fa fa-shopping-bag"></i> <span>@await Component.InvokeAsync("ShoppingCartSummary")</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table id="i">
                            <thead>
                                <tr>
                                    <th>מוצר</th>
                                    <th>תמונה</th>
                                    <th>ברקוד</th>
                                    <th>כמות באריזה </th>
                                    <th>כמות בבודדים</th>
                                    <th>מחיר</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                                {
                                    <tr>
                                        
                                        <td class="text-center">
                                            <h5>@line.Pizza.Name</h5>
                                        </td>
                                        <td>
                                            <img src="@line.Pizza.ImageUrl" alt="" style="max-width: 50px;">
                                        </td>
                                        <td>
                                            @line.Pizza.Barcode
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default" asp-action="UpdateToShoppingCartBoxes" asp-route-pizzaId="@line.Pizza.Id" asp-route-quantityB="@line.AmountBoxes" id="updateLinkBoxes-@line.Pizza.Id">
                                                <b>עדכן ארגזים</b>
                                            </a>
                                            <input id="boxesInput-@line.Pizza.Id" type="number" name="quantityB" value="@line.AmountBoxes" onchange="updateLinkHrefBoxes('@line.Pizza.Id', this.value)" />
                                        </td>

                                        <script>
                                            function updateLinkHrefBoxes(lineItemId, quantity) {
                                                var link = document.getElementById("updateLinkBoxes-" + lineItemId);
                                                var updatedHref = link.href.replace(/quantityB=\d+/, 'quantityB=' + quantity);
                                                link.href = updatedHref;
                                            }
                                        </script>
                                        <td class="text-center">
                                            <a class="btn btn-default" asp-action="UpdateToShoppingCartSingles" asp-route-pizzaId="@line.Pizza.Id" asp-route-quantity="@line.AmountSingles" id="updateLinkSingles-@line.Pizza.Id">
                                                <b>עדכן בודדים</b>
                                            </a>
                                            <input id="singlesInput-@line.Pizza.Id" type="number" name="quantity" value="@line.AmountSingles" onchange="updateLinkHrefSingles('@line.Pizza.Id',this.value)" />
                                        </td>

                                        <script>
                                            function updateLinkHrefSingles(lineItemId, quantity) {
                                                var linkS = document.getElementById("updateLinkSingles-" + lineItemId);
                                                var quantityInputS = document.getElementById("singlesInput-" + lineItemId);
                                                var updatedHrefS = linkS.href.replace(/quantity=\d+/, 'quantity=' + quantityInputS.value);
                                                linkS.href = updatedHrefS;
                                            }
                                        </script>
                                       
                                        <td class="text-center">
                                            <a class="btn btn-default" asp-action="UpdatePrice" asp-route-pizzaId="@line.Pizza.Id" asp-route-price="@line.Pizza.Price" id="updatePrice-@line.Pizza.Id">
                                                <b>עדכון מחיר</b>
                                            </a>
                                            <input id="priceInput-@line.Pizza.Id" type="number" name="price" value="@line.Pizza.Price" onchange="UpdatePrice('@line.Pizza.Id',this.value)" />
                                        </td>

                                        <script>
                                            function UpdatePrice(lineItemId, price) {
                                                var linkS = document.getElementById("updatePrice-" + lineItemId);
                                                var quantityInputS = document.getElementById("priceInput-" + lineItemId);
                                                var updatedHrefS = linkS.href.replace(/price=\d+/, 'price=' + quantityInputS.value);
                                                linkS.href = updatedHrefS;
                                            }
                                        </script>
                                        <td class="shoping__cart__item__close">
                                            <a class="icon_close" asp-action="RemoveFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id"></a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                   @*     <form>
                            <button id="submitBtn" type="submit">Send Email</button>
                        </form>*@
@*
                        <form action="https://formsubmit.co/yaelgloiberman@gmail.com" method="POST">
                            <input type="email" name="email" placeholder="כתובת מייל" required>
                            <input type="text" name="name" placeholder="הזן את שמך" required>
                            <textarea name="message" placeholder="Details of your problem"></textarea>
                            <input type="file" name="attachment" value="C:\\Users\\yaeli\\Downloads\\file (5).pd">
                            <button type="submit">Send</button>
                        </form>
                        <form>
                            <button id="submitBtn" type="submit">Send Email</button>
                        </form>*@
                        <a href="@Url.Action("Index", "Home")" class="primary-btn cart-btn">המשך קנייה</a>
                        <a href="@Url.Action("Save", "ShoppingCart")" class="btn btn-success cart-btn-right">שמירה </a>
                    </div>

                </div>
            </div>

            
    </section>
   
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#submitBtn").click(function (event) {
                    event.preventDefault(); // prevent the default submit behavior

                    $.ajax({
                        type: "POST",
                        url: "/ShoppingCart/SendEmail",
                        success: function () {
                            alert("Email sent successfully!");
                        },
                        error: function () {
                            alert("Failed to send email.");
                        }
                    });
                });
            });
       
        </script>}
        <script>
            function addToCart(actionUrl, id, value) {
                $.ajax({
                    type: 'POST',
                    url: actionUrl,
                    data: { pizzaId: id, amount: value },
                    success: function () {
                        window.location.reload(); // reload the page after successful update
                    },
                    error: function () {
                        alert('An error occurred while updating the shopping cart.');
                    }
                });
            }
        </script>


</body>
</html>
