@using System.Globalization;
@model ShoppingCartViewModel

@{
    var pageName = "Save";
    ViewData["Title"] = pageName;
}
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kedma</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  
    <!-- html2pdf CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header" dir="rtl">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <nav class="header__menu">


                        <ul>
                            <li class="active"><a href="@Url.Action("index", "Home")">עמוד ראשי</a></li>
                            <li class="active"><a href="@Url.Action("About", "Home")">עריכה</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")">יצירת קשר</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")"> </a></li>

                        </ul>

                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","ShoppingCart")">
                                    <i class="fa fa-shopping-bag"></i> <span>@await Component.InvokeAsync("ShoppingCartSummary")</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad" >
        <div class="container">
         
                <style>
          table {
            width: 100%;
            border-collapse: collapse;
          }

          th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            font-size: 14px;
          }

          td:not(:last-child) {
            border-right: 1px solid black;
          }

          th {
            background-color: lightgray;
            font-weight: bold;
          }

          table tfoot tr td {
            border-top: 1px solid black;
          }

  
        </style>

         <div class="row">
    <div class="col-lg-12">
        <div class="shoping__cart__table" id="i">
            <table>
                <thead>
                    <tr>
                        <th style="width: 20%;">שם מוצר</th>
                        <th style="width: 20%;">ברקוד</th>
                        <th style="width: 20%;">כמות בארגז</th>
                        <th style="width: 20%;">כמות ביחידה</th>
                        <th style="width: 20%;">מחיר </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <tr>
                            <td>@line.Pizza.Name</td>
                            <td>@line.Pizza.Barcode</td>
                            <td>@line.AmountBoxes</td>
                            <td>@line.AmountSingles</td>
                            <td>
                                @{
                                    float totalPrice = ((line.AmountSingles * line.AmountBoxes) + line.AmountSingles) * line.Pizza.Price;
                                }
                                @totalPrice.ToString("c0", new CultureInfo("he-IL"))
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<style>
    table {
        width: 80%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }

    td:not(:last-child) {
        border-right: 1px solid black;
    }

    th {
        background-color: lightgray;
        font-weight: bold;
    }

    table tfoot tr td {
        border-top: 1px solid black;
    }

    /* Print styles */
  
</style>
            
            @*<div class="col-lg-12">
				<button id="generate-pdf-button" class="btn btn-success">Generate PDF</button>
                @*<button id="download-button" class="btn btn-success">שלח מייל</button>*@
               @* <script>
                const generatePDFButton = document.getElementById('generate-pdf-button');

                
                const button = document.getElementById('generate-pdf-button');

                function generatePDF1() {
                    // Choose the element that your content will be rendered to.
                    const element = document.getElementById('i');
                    // Choose the element and get the PDF data.
                    
                    html2pdf().from(element).outputPdf().then(function (pdf) {
                        $(document).ready(function () {
                            $("#generate-pdf-button").click(function (event) {
                                event.preventDefault(); // prevent the default submit behavior

                                $.ajax({
                                    type: "POST",
                                    url: "/ShoppingCart/SendEmail1",
                                    data: { pdfData: pdf },
                                    success: function () {
                                        alert("Email sent successfully!");
                                    },
                                    error: function () {
                                        alert("Failed to send email.");
                                    }
                                });
                            });
                        });

                    });
                }
                    generatePDFButton.addEventListener('click', generatePDF1);
                </script>
			</div>*@
            </div>
        <div class="col-lg-12">
            <button id="generate-pdf-button" class="btn btn-success">Generate PDF</button>
            <script>
                const generatePDFButton = document.getElementById('generate-pdf-button');

                function sendEmail(pdfData) {
                    console.log('Preparing to send email...');
                    console.log('pdf:', pdfData);
                    const binaryString = String.fromCharCode.apply(null, new Uint8Array(pdfData));
                    const base64String = btoa(binaryString);
                    $.ajax({
                        type: "POST",
                        url: "/ShoppingCart/SendEmail1",
                        data: { pdfData: base64String },
                        success: function () {
                            console.log("Email sent successfully!");
                            alert("Email sent successfully!");
                        },
                        error: function () {
                            console.log("Failed to send email.");
                            console.log('pdf:', pdfData);
                            console.log('pdf64:', base64String);
                            alert("Failed to send email.");

                        }
                    });
                }

                function generatePDF() {
                    console.log('Generating PDF...');
                    const element = document.getElementById('i');
                    html2pdf().from(element).outputPdf().then(function (pdf) {
                        console.log('PDF generation complete.');
                        console.log('pdf:', pdf);
                        sendEmail(pdf);
                    });
                }

                generatePDFButton.addEventListener('click', generatePDF);
            </script>
        </div>





            
    </section>
        @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

</body>


</htm>
