@model ShoppingCartViewModel

@{
    var pageName = "Save";
    ViewData["Title"] = pageName;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kedma</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="html2pdf.bundle.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  
    <!-- html2pdf CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header" dir="rtl">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <nav class="header__menu">


                        <ul>
                            <li class="active"><a href="@Url.Action("index", "Home")">עמוד ראשי</a></li>
                            <li class="active"><a href="@Url.Action("About", "Home")">עריכה</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")">יצירת קשר</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")"> </a></li>

                        </ul>

                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","ShoppingCart")">
                                    <i class="fa fa-shopping-bag"></i> <span>@await Component.InvokeAsync("ShoppingCartSummary")</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad" >
        <div class="container">
            @*<div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table" id="i">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">שם מוצר</th>
                                    <th>ברקוד</th>
                                    <th>כמות בארגז</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                                {
                                    <tr>
                                        <td class="shoping__cart__price">
                                            @line.Pizza.Name
                                        </td>
                                        <td class="shoping__cart__price">
                                            @line.Pizza.Barcode
                                        </td>
                                        <td class="shoping__cart__price">
                                            @line.Pizza.AmountInBox
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th, td {
                    text-align: center;
                    padding: 8px;
                    border: 1px solid black;
                }

                th {
                    background-color: #ddd;
                }
            </style>

            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table" id="i">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">שם מוצר</th>
                                    <th>ברקוד</th>
                                    <th>כמות בארגז</th>
                                    <th>כמות chjhsv</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                                {
                                    <tr>
                                        <td class="shoping__cart__price">
                                            @line.Pizza.Name
                                        </td>
                                        <td class="shoping__cart__price">
                                            @line.Pizza.Barcode
                                        </td>
                                        <td class="shoping__cart__price">
                                            @line.AmountBoxes
                                        </td>
                                        <td class="shoping__cart__price">
                                            @line.AmountSingles
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                 <button id="download-button" class="btn btn-success">Download as PDF</button>
                   <script>
                const button = document.getElementById('download-button');

                function generatePDF() {
                    // Choose the element that your content will be rendered to.
                    const element = document.getElementById('i');
                    // Choose the element and save the PDF for your user.
                    html2pdf().from(element).save();
                }

                button.addEventListener('click', generatePDF);
            </script>

                </div>
            </div>
            </div>
    </section>


</body>


</html>
