@using OnlineKedmaWebApplication.ViewModels;
@model PizzasCaregoriesViewModel

@{
    var pageName = "Home page";
    ViewData["Title"] = pageName;
}
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
               @* <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>*@
                <div class="col-lg-6">
                    <nav class="header__menu">


                        <ul>
                            <li class="active"><a href="@Url.Action("index", "Home")">עמוד ראשי</a></li>
                            <li class="active"><a href="@Url.Action("About", "Home")">עריכה</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")">יצירת קשר</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Home")"> </a></li>
                        </ul>
                      
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","ShoppingCart")">
                                    <i class="fa fa-shopping-bag"></i> <span>@await Component.InvokeAsync("ShoppingCartSummary")</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
  
 
    <section class="product spad">

        <div class="container" dir="rtl">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item" >
                            <h4>קטגוריות</h4>
                                <ul>
                                @foreach (var item in Model.Categories)
                                {
                                    <li><a asp-controller="Home" asp-action="CategoryA" asp-route-categoryId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></li>
                                }
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-7">

                    <div class="row">

                        <section class="featured spad">
                            <div class="container">
                                @if (Model != null)
                                {
                                    @foreach (var item in Model.Pizzas)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                                            <div class="featured__item">
                                                <div class="featured__item__pic set-bg" data-setbg="@Url.Content(@item.ImageUrl)">
                                                    <ul class="featured__item__pic__hover">
                                                       <li>
                                                            <p>
                                                                <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart1" asp-route-pizzaId="@item.Id" class="fa fa-shopping-cart"></a>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="featured__item__text">
                                                    <h6> @Html.DisplayFor(modelItem => item.Name)</h6>
                                                    <h5>@Html.DisplayFor(modelItem => item.Barcode)</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            </div>
    </section>

    
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>



</body>
</html>
